body{
	overflow-x: hidden;
}
.container{
	background: linear-gradient(90deg, rgba(30, 130, 76, 0.3) 0%, rgba(0,100,0 ,0.2) 100%),url(.././pagesitem/images/img-8.jpg) center no-repeat;
	background-size: cover;
	box-shadow:  0 5px 20px lightsteelblue;
	width: 100%;
	height: 100%;
	border-radius: 25px 0px 25px 0px ;
}

.modal{
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	position: relative;
	background: linear-gradient(90deg, rgba(30, 130, 76, 0.2) 0%, rgba(0,100,0 ,0.2) 100%),url(.././pagesitem/images/img-8.jpg) center no-repeat;
	border-radius:  25px 0px 25px 0px ;
}

.h6{
	position: relative;
	font-size: 50px;
	text-align: center;
	top: 30px;
}

.form{
	width: 400px;
	height: 400px;
	display: flex;
	position: relative;
	padding: 0;
	margin: 0;
	margin: auto;
	
	
}


.input-group{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	
}


.input-group input{
	width: 90%;
	margin: auto;
	border-radius: 8px;
	padding: 10px;
	margin-top: 15px;
	border: none;
	color: white;
	background-color:  rgba(255,99,71,0.7);
	font-weight: bolder;
	letter-spacing: 2px;
}

.input-group input::placeholder{
	color: white;
}

.input-group input:nth-child(1){
	text-transform: capitalize;
}


.input-group input:hover{
	box-shadow: 0 0 5px lightsteelblue;
}

.input-group textarea{
	width: 90%;
	margin: auto;
	margin-top: 18px;
	border-radius: 8px;
	border: none;
	padding: 5px;
	color: white;
	background-color: rgba(255,99,71,0.7);
	font-weight: bolder;
	letter-spacing: 2px;
}

.input-group textarea:hover{
	box-shadow: 0 0 5px lightsteelblue;
}

.input-group textarea::placeholder{
	color: white;
}

.input-group button{
	width: 90%;
	margin: auto;
	margin-top: 18px;
	border-radius: 8px;
	padding: 10px;
	border: none;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 3px;
}

.input-group button:hover{
	background-color:  rgba(255,99,71,0.7);
	color: white;
	font-weight: bolder;
}